@import '../../styles/variables';
.Projects {
  main {
    overflow-y: auto;
  }
  aside {
    background-color: $main-color;
    .menu {
      padding: 1em;
      border: 1px solid $accent-color;
      border-radius: 4px;
      .is-active {
        background-color: $highlight-color;
      }
    }
  }
}