@import '../../styles/variables';

.Technologies {
  .other-tech {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    .tech-item {
      margin: 1em;
      display: flex;
      flex-flow: column;
      align-items: center;
      .title {
        margin-top: 1em;
      }
      i {
        font-size: 5em;
      }
    }
  }
}