.ProjectCard {
  .image > img {
    object-fit: contain;
  }
  &.selected {
    order: -1;
  }
  .card-header-title {
    justify-content: center;
  }
  .card-footer-item {
    &:hover {
      background-color: #eee;
    }
  }
}