.TechChart {
  height: 500px;
  .bar:nth-child(1) {
    background-color: lightcoral;
  }
  .bar:nth-child(2) {
    background-color: goldenrod;
  }
  .bar:nth-child(3) {
    background-color: springgreen;
  }
}
