@import '../../styles/variables';

.TechChart {
  width: 100%;
  .chart {
    width: 100%;
    height: 100px;
  }
  .bar {
    height: 100%;
    display: inline-block;
  }
  .legend {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 1px solid darken($main-color, 20%);
    border-top: none;
  }
  .legend-item {
    margin: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
    .title {
      display:flex;
      align-items: baseline;
      flex-flow: column;
    }
    @media (max-width:768px) {
      .title {
        font-size: .75em;
      }
    }
  }
  .legend-marker {
    height: 25px;
    width: 25px;
    margin: 0 .5em 0 0;
    border-radius: 50%;
  }
  .rank-color:not(.legend-item) {
    &:nth-child(1n) {
      background-color: $rank1;
    }
    &:nth-child(2n) {
      background-color: $rank2;
    }
    &:nth-child(3n) {
      background-color: $rank3;
    }
    &:nth-child(4n) {
      background-color: $rank4;
    }
    &:nth-child(5n) {
      background-color: $rank5;
    }
    &:nth-child(n+6) {
      background-color: $unrank;
    }
  }
  .legend .rank-color {
    &:nth-child(1n) > .legend-marker {
      background-color: $rank1;
    }
    &:nth-child(2n) > .legend-marker {
      background-color: $rank2;
    }
    &:nth-child(3n) > .legend-marker {
      background-color: $rank3;
    }
    &:nth-child(4n) > .legend-marker {
      background-color: $rank4;
    }
    &:nth-child(5n) > .legend-marker {
      background-color: $rank5;
    }
    &:nth-child(n+6) > .legend-marker {
      background-color: $unrank;
    }
  }

}
