@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Questrial');

$sans: 'Questrial';
$serif: 'Roboto Mono', serif;

$main-color: #ececec;
$dark-color: #295ea4;
$accent-color: #fa5a5a;
$light-color: #ffcb4f;
$highlight-color: #00be70;

$link-color: $accent-color;
$text-color: #0d0d0d;

$header-height: 150px;
$box-shadow: 1px 2px 1px rgba(0,0,0,0.2);


$rank1: crimson;
$rank2:blue;
$rank3:green;
$rank4: orange;
$rank5: yellow;
$unrank: gray;