$main-color: #d6d1ca;
$dark-color: #16225f;
$accent-color: #ee8939;
$light-color: #d9b036;
$highlight-color: #d91323;

$link-color: $dark-color;
$text-color: #0d0d0d;

$header-height: 150px;
$box-shadow: 1px 2px 1px rgba(0,0,0,0.2);


$rank1: crimson;
$rank2:blue;
$rank3:green;
$rank4: orange;
$rank5: yellow;
$unrank: gray;