@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Questrial');

$sans: 'Questrial';
$serif: 'Roboto Mono', serif;

$main-color: #e7e7e7;
$dark-color: #295ea4;
$accent-color: #fa5a5a;
$light-color: #ffcb4f;
$highlight-color: #00be70;

$link-color: $accent-color;
$text-color: #0d0d0d;

$box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
