@import '../../node_modules/bulma/bulma';
@import './variables';

body,html {
  height: 100%;
  background-color: $main-color;
  #root {
    height: 100%;
  }
  @media (min-width: 726px) {
    overflow: hidden;
  }
}
