@import '../../styles/variables';

.NavItems {
  margin: 10px;
  li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75px;
    margin: 0 10px;
    a {
      padding: 0 1em;
      color: $link-color;
      font-size: 1em;
      font-weight: 400;
      text-shadow: 0;
      &:hover:not(.active) {
        animation: pullup .5s forwards;
      }
      &.active {
        font-weight: bold;
        box-shadow: $box-shadow;
        border: 1px solid $main-color;
      }
      @keyframes pullup {
        from {
          text-shadow: 0;
          font-weight: 400;
        }
        to {
          text-shadow: 2px 3px 3px rgba(0,0,0,0.3);
          font-weight: 700;
        }
      }
    }
  }
}
