@import '../../styles/variables';
.About {
  height: 100%;
  overflow-y: auto;
  .title {
    font-size: 4em;
  }
  .subtitle {
    font-size: 2em;
  }
  .intro {
    background-color: $dark-color;
    .title,
    .subtitle {
      color: $main-color;
    }
  }
  .techs {
    .column.techs {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
    }
  }
}