@import '../../styles/variables';
.About {
  line-height: 2em;
  font-size: 1.25em;
  color: $dark-color;
  .down {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 3em;
    color: $highlight-color;
    animation: bounce infinite linear 1.5s;
  }
  .hero.is-fullheight {
    min-height: calc(100vh - 130px);
  }
  .title {
    color: $dark-color;
    text-shadow: $box-shadow;
  }
  .profile {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: $box-shadow;
    @media (max-width: 767px) {
      width: 200px;
      height: 200px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 15%;
    }
  }
  .hero-body {
    .title {
      @media (max-width: 768px) {
        font-size: 2em;
      }
    }
    p {
      font-size: 1.25em;
      letter-spacing: -1px;
      font-family: $serif;
      @media (max-width: 768px) {
        font-size: 1em;
      }
    }
  }

  .hi {
    background-color: $light-color;
    .title {
      font-size: 4em;
    }
  }
  .intro {
    .title {
      color: $light-color;
    }
    background-color: $highlight-color;
  }
  .artist {
    background-color: $accent-color;
  }
  .activist {
    .title {
      color: $light-color;
    }
    color: $light-color;
    background-color: $dark-color;
  }
  .adventurer {
    .title {
      color: $accent-color;
    }
    color: $accent-color;
    background-color: $light-color;
  }

  .closing {
    .title {
      text-decoration: underline;
      text-shadow: none;
      &:nth-child(1) a {
        color: $light-color;
      }
      &:nth-child(2) a {
        color: $dark-color;
      }
      &:nth-child(3) a {
        color: $highlight-color;
      }
      &:nth-child(4) a {
        color: $accent-color;
      }
    }
  }

}

@keyframes bounce {
  0% {
    bottom: 32px
  }
  50% {
    bottom: 12px;
  }
  70% {
    bottom: 24px;
  }
  100% {
    bottom: 32px;
  }
}