@import '../../styles/variables';
.About {
  .profile {
    padding: 2em;
  }
  .intro {
    margin: 2em 0;
    .title {
      font-size: 4em;
    }
    .subtitle {
      font-size: 2em;
    }
  }
  .about-me {
    line-height: 2em;
    font-size: 1.25em;
  }
}