@import '../../styles/variables';
.BlogPost {
  &.box {
    margin-bottom: 2em;
    background-color: lighten($main-color, 50%);
    color: $text-color;
  }
  .subtitle {
    font-style: italic;
  }
  .content {
    font-family: $serif;
  }
}