.App {
  display: flex;
  flex-flow: column nowrap;
  background-color: aliceblue;
  height: 100%;
}
.Main {
  position: relative;
  flex: 1 1 auto;
  margin: 0;
  height: 100%;
  .columns {
    height: 100%;
    margin: 0;
  }
}