@import '../../styles/variables';

.Contact {
  padding-top: 0;
  padding-bottom: 0;
  .menu {
    padding: 1em;
    margin: 1em auto;
    border: 1px solid $dark-color;
    border-radius: 4px;
    a {
      color: $dark-color;
      fill: $dark-color;
      &:not(.is-active):hover {
        background-color: $dark-color;
        color: $main-color;
      }
    }
  }
  .menu-list {
    display: flex;
    justify-content: space-evenly;
  }
}