@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.Header {
  background-color: lighten($main-color, 20%);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  .navbar-list {
    height: 100%;
    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 75px;
      margin: 0 10px;
      a {
        height: 100%;
        width: 100%;
        color: $link-color;
        font-size: 1em;
        line-height: 50px;
        &:hover {
          color: $accent-color;
        }
        &.active {
          font-weight: bold;
          color: $highlight-color;
          text-shadow: 0 0 5px $accent-color;
        }
      }
    }
  }
  h1 a {
    font-size: 2em;
    font-weight: 900;
    color: $dark-color;
    margin: 0 10px;
    font-family: "Varela Round";
  }
}