@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Rubik');

.Header {
  font-family: Rubik;
  background-color: lighten($main-color, 20%);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  z-index: 5;

  @keyframes shrink {
    from {
      max-height: 100px;
      opacity: 1;
    }
    to {
      max-height: 0px;
      opacity: 0;
    }
  }
  @keyframes unshrink {
    from {
      max-height: 0px;
      opacity: 0;
    }
    to {
      max-height: 100px;
      opacity: 1;
    }
  }
  .shrink {
    animation: shrink 1s normal forwards;
  }
  .unshrink {
    animation: unshrink .5s normal forwards;
  }
  .title {
    overflow-y: hidden;
    max-height: 100px;
    margin: 0;
  }
  h1 a {
    font-size: 2em;
    font-weight: 900;
    color: $dark-color;
    margin: 0 10px;
  }

  h2.subtitle {
    text-align: center;
  }
}