@import '../../styles/variables';
.Header {
  height: 50px;
  flex: 0 0 auto;
  background-color: lighten($main-color, 20%);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  .navbar-list {
    height: 100%;
    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100px;
      height: 100%;
      margin: 0 10px;
      background-color: lighten($main-color, 20%);
      &:hover {
        background-color: $accent-color;
      }
      a {
        height: 100%;
        width: 100%;
        color: $link-color;
        font-size: 1.5em;
        line-height: 50px;
        &.active {
          font-weight: bold;
          background-color: $main-color;
        }
      }
    }
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0 10px;
  }
}