@import '../../styles/variables';

.BlogMenu {
  font-weight: 700;
  position:sticky;
  top: 6em;
  flex: 1;
  margin-right: 2em;
  height: auto;
  @media (max-width:768px) {
    flex: 0;
    position: initial;
    margin: 0 0 2em 0;
    height: auto;
  }

  &.menu {
    padding: 1em;
    border: 1px solid $highlight-color;
    border-radius: 4px;
    .is-active {
      background-color: $highlight-color;
      color: $main-color;
    }
    button {
      margin-bottom: 1em;
    }
    a {
      color: $dark-color;
      background-color: $main-color;
      &:not(.is-active):hover {
        background-color: $accent-color;
        color: $main-color;
      }
    }
  }
  .menu-label {
    text-align: center;
    background-color: lighten($main-color, 5%);
    color: $highlight-color;

  }
  .menu-list li ul {
    border-color: $highlight-color;

  }
  .blog-title {
    overflow-wrap: break-word;
    &:not(.is-active):hover {
      color: $dark-color;
    }
  }
}