@import '../../styles/variables';
.Blog {
  color: $text-color;
  main {
    overflow-y: auto;
  }
  aside {
    overflow-y: auto;
    background-color: $main-color;
    .is-active {
      background-color: $highlight-color;
    }
  }
}