@import '../../styles/variables';
.Blog {
  color: $text-color;
  main {
    overflow-y: auto;
  }
  aside {
    overflow-y: auto;
    background-color: $dark-color;
    .title {
      color: $main-color;
    }
  }
}